- name: Clean old image directory
  file:
    path: /root/enoz.dev/
    state: absent

- name: Create enoz.dev directory
  file:
    path: /root/enoz.dev
    state: directory

- name: Copy image tar
  copy:
    src: enoz.dev.tar.gz
    dest: /root/enoz.dev/enoz.dev.tar.gz

- name: Remove old container
  community.docker.docker_container:
    name: enoz.dev
    state: absent

- name: Load enoz.dev image
  community.docker.docker_image_load:
    path: "/root/enoz.dev/enoz.dev.tar.gz"

- name: Start enoz.dev
  community.docker.docker_container:
    name: enoz.dev
    image: enoz.dev:latest
    restart_policy: always
    ports:
      - "8082:80"
