#content {
  display: grid;
  margin: 2rem;
  place-items: center;
}

#home {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: scroll;
}

#profile-picture {
  width: 15rem;
  clip-path: circle();
}

h1 {
  text-align: center;
}

i {
  color: rgba(255, 150, 150, 0.9);
}
