name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Build enoz.dev
        working-directory: enoz.dev
        run: |
          npm run docker
      - name: Build chatter bot
        working-directory: chatter-bot
        run: |
          npm run docker
      - name: Add chatter-bot secrets
        run: |
          echo "DISCORD_APP_TOKEN=${{ secrets.DISCORD_APP_TOKEN }}" >> ./ansible/roles/chatter-bot/files/secrets.env
          echo "DISCORD_GUILD_ID=${{ secrets.DISCORD_GUILD_ID }}" >> ./ansible/roles/chatter-bot/files/secrets.env
      - name: Run ansible playbook
        uses: dawidd6/action-ansible-playbook@v5
        with:
          playbook: ./ansible/website.yml
          inventory: |
            ${{ vars.SERVER_IP }} ansible_user=root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}



