name: Deploy to GitHub Pages

on:
  push:
    branches: 
      - 'master'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: enoz.dev/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: enoz.dev

      - name: Build
        run: npm run build
        working-directory: enoz.dev

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'enoz.dev/build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
